In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd. read_csv("C:\\Users\\srmve\\OneDrive\\Desktop\\50_Startups.csv")
df. head ()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [14]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [15]:
df. describe ()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [16]:
df. isnull (). sum ()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [17]:
from sklearn import preprocessing

In [19]:
le = preprocessing. LabelEncoder ()
state_encoded = le.fit_transform(df['State'])
df['State'] = state_encoded
df. head ()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [20]:
x = df. iloc [:, :-1]
x

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      0
2   153441.51       101145.55        407934.54      1
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      1
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      0
7   130298.13       145530.06        323876.68      1
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      0
10  101913.08       110594.11        229160.95      1
11  100671.96        91790.61        249744.55      0
12   93863.75       127320.38        249839.44      1
13   91992.39       135495.07        252664.93      0
14  119943.24       156547.42        256512.92      1
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      0
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      1
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      0
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      1
23   67532.53       105751.03        304768.73      1
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      0
26   75328.87       144135.98        134050.07      1
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      1
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      1
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      0
33   55493.95       103057.49        214634.81      1
34   46426.07       157693.92        210797.67      0
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      1
37   44069.95        51283.14        197029.42      0
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      0
40   28754.33       118546.05        172795.67      0
41   27892.92        84710.77        164470.71      1
42   23640.93        96189.63        148001.11      0
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      0
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      1
47       0.00       135426.92             0.00      0
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      0

In [21]:
y = df. iloc[:, -1]
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [22]:
from sklearn. model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split (x, y, random_state=355)

In [28]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [29]:
model.fit (x_train, y_train)

LinearRegression()

In [30]:
y_pred = model. predict(x_test)
y_pred

array([101764.8647324 , 158356.19364042, 194207.3514064 , 135492.13007077,
       110460.17408893, 173273.07924713, 115811.56901173, 150233.06025649,
       160618.80790026, 153579.94901348,  52308.38984566, 118704.17751673,
       188137.31554804])

In [31]:
from sklearn. metrics import mean_squared_error, mean_absolute_error
mse = mean_squared_error (y_test, y_pred)
print (f"Mean Squared Error: {mse}")

Mean Squared Error: 66061760.57640998

In [32]:
mae = mean_absolute_error (y_test, y_pred)
print (f"Mean Absolute Error: {mae}")

Mean Absolute Error: 6277.339504042238