In [2]:
import pandas as pd 
import numpy as np 
import warnings 
warnings. simplefilter ("ignore")

In [5]:
df = pd. read_csv("C:\\Users\\srmve\\Documents\\Housing.csv") 
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [6]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
df. describe ()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
df. isnull (). sum ()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [9]:
from sklearn. impute import SimpleImputer 
numeric_columns = ['CRIM', 'ZN','INDUS', 'CHAS', 'AGE', 'LSTAT'] 
df[numeric_columns] = SimpleImputer(strategy='mean').fit_transform(df[numeric_columns]) 
df[numeric_columns]

        CRIM    ZN  INDUS  CHAS        AGE      LSTAT
0    0.00632  18.0   2.31   0.0  65.200000   4.980000
1    0.02731   0.0   7.07   0.0  78.900000   9.140000
2    0.02729   0.0   7.07   0.0  61.100000   4.030000
3    0.03237   0.0   2.18   0.0  45.800000   2.940000
4    0.06905   0.0   2.18   0.0  54.200000  12.715432
..       ...   ...    ...   ...        ...        ...
501  0.06263   0.0  11.93   0.0  69.100000  12.715432
502  0.04527   0.0  11.93   0.0  76.700000   9.080000
503  0.06076   0.0  11.93   0.0  91.000000   5.640000
504  0.10959   0.0  11.93   0.0  89.300000   6.480000
505  0.04741   0.0  11.93   0.0  68.518519   7.880000

[506 rows x 6 columns]

In [10]:
x = df. iloc [:,  :-1] 
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.200000,4.0900,1,296,15.3,396.90,4.980000
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.900000,4.9671,2,242,17.8,396.90,9.140000
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.100000,4.9671,2,242,17.8,392.83,4.030000
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.800000,6.0622,3,222,18.7,394.63,2.940000
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.200000,6.0622,3,222,18.7,396.90,12.715432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.100000,2.4786,1,273,21.0,391.99,12.715432
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.700000,2.2875,1,273,21.0,396.90,9.080000
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.000000,2.1675,1,273,21.0,396.90,5.640000
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.300000,2.3889,1,273,21.0,393.45,6.480000
505,0.04741,0.0,11.93,0.0,0.573,6.030,68.518519,2.5050,1,273,21.0,396.90,7.880000

In [11]:
y = df. iloc[:,  -1] 
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [12]:
from sklearn. model_selection import train_test_split 
x_train, x_test, y_train, y_test=train_test_split (x, y, random_state=0)

In [13]:
from sklearn. linear_model import Ridge

In [14]:
alpha = 1.0 
model = Ridge(alpha=alpha)

In [15]:
model.fit (x_train, y_train)

Ridge()

In [16]:
y_pred = model. predict(x_test) 
y_pred

array([26.34156898, 22.20793785, 28.81921868, 11.47348568, 21.04408706,
       20.07024517, 19.92297674, 21.98467322, 19.4284628 , 19.78080258,
        4.16412665, 15.12289492, 17.09792351,  5.05900886, 38.91946091,
       32.92319545, 21.24037396, 36.10602752, 31.81994714, 23.86720827,
       25.23529707, 22.88616194, 20.79907381, 30.51097382, 22.69975385,
        7.89770805, 17.85693177, 18.79114443, 35.85644296, 20.64459013,
       17.22799563, 17.71776841, 19.12617187, 22.88297321, 28.53952139,
       19.82099868, 11.05567273, 23.90734107, 16.91704535, 14.40178292,
       25.90653761, 21.42101506, 23.7896341 , 13.97022376, 24.14528817,
       24.67733954, 19.26650784, 24.12468236, 11.09047876, 24.65867603,
       22.77081575, 19.26975343, 24.25327367, 31.6500543 , 12.84562266,
       22.28345771, 21.23812988, 16.08306186, 11.65101825, 22.23665653,
       18.60898999, 22.10455726, 32.35772086, 31.57758771, 17.12779565,
       32.87589474, 19.54848641, 19.28578883, 19.20291078, 24.09782582,
       21.94365685, 23.69076767, 30.63340076, 29.0446177 , 24.44329987,
        5.35195943, 37.02566061, 24.09822246, 27.67967687, 19.90269748,
       28.43908868, 18.85735312, 17.29445352, 37.82901475, 39.31585098,
       24.74164818, 25.00022374, 16.02274095, 26.54988516, 16.73956103,
       16.46269817, 13.41520098, 24.63687876, 30.64557876, 22.71383635,
       20.562259  ,  0.09343784, 25.64117227, 15.50351612, 17.61209673,
       25.92059772, 22.30531336, 32.48071611, 22.28998171, 27.57238428,
       23.45701196,  6.11176901, 14.10019865, 22.60348397, 29.02334184,
       31.92622327, 12.03657088, 19.53895825, 21.18421153, 12.1825899 ,
       23.82100592,  5.79235568, 19.29551109,  9.01036856, 45.15731178,
       30.5553796 , 17.34563703, 17.515943  , 22.17927199, 23.41151526,
       18.70788687, 34.97867185])

In [17]:
from sklearn. metrics import mean_squared_error 
mse = mean_squared_error (y_test, y_pred) 
print (f'Mean Squared Error: {mse}')

Mean Squared Error: 32.12855445696262

In [18]:
new_data = [0.02731, 0.0, 7.07, 0.0, 0.469, 6.421, 78.900000, 4.9671, 2, 242, 17.8, 396.90, 9.140000] 
predictions = model. predict([new_data]) 
print(predictions)

[24.67733954]