In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd. read_csv("C:\\Users\\srmve\\Downloads\\Twitter.csv")
df. head()

,status_id,text,created_at,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
0,1046207313588236290,"Entitled, obnoxious, defensive, lying weasel. ...",2018-09-30T01:17:15Z,5,1,"McAllen, TX",2253,2303,23856,0
1,1046207328113086464,Thank you and for what you did for the women...,2018-09-30T01:17:19Z,5,2,"Tampa, FL",2559,4989,19889,0
2,1046207329589493760,Knitting (s) &amp; getting ready for January 1...,2018-09-30T01:17:19Z,0,0,"St Cloud, MN",16,300,9,0
3,1046207341283168256,Yep just like triffeling women weaponized thei...,2018-09-30T01:17:22Z,1,0,flyover country,3573,3732,38361,1
4,1046207347016826880,"No, the President wants to end movement posin...",2018-09-30T01:17:23Z,0,0,World,294,312,7635,0

df.info()

In [8]:
df.describe()

,status_id,favorite_count,retweet_count,followers_count,friends_count,statuses_count,category
count,8.071740e+05,807174.000000,807174.000000,8.071740e+05,807174.000000,8.071740e+05,807174.000000
mean,1.061411e+18,6.466671,2.557508,4.663755e+04,6306.597207,4.793559e+04,0.118108
std,1.428176e+16,159.865656,50.724140,6.111813e+05,40549.763583,1.646474e+05,0.322737
min,1.046207e+18,0.000000,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000
25%,1.050184e+18,0.000000,0.000000,1.070000e+02,160.000000,1.663250e+03,0.000000
50%,1.054643e+18,0.000000,0.000000,5.390000e+02,528.000000,8.007000e+03,0.000000
75%,1.071177e+18,1.000000,0.000000,2.844000e+03,1756.000000,3.317500e+04,0.000000
max,1.097647e+18,70385.000000,17484.000000,5.457643e+07,899383.000000,9.565126e+06,1.000000

In [9]:
df.describe()

,status_id,favorite_count,retweet_count,followers_count,friends_count,statuses_count,category
count,8.071740e+05,807174.000000,807174.000000,8.071740e+05,807174.000000,8.071740e+05,807174.000000
mean,1.061411e+18,6.466671,2.557508,4.663755e+04,6306.597207,4.793559e+04,0.118108
std,1.428176e+16,159.865656,50.724140,6.111813e+05,40549.763583,1.646474e+05,0.322737
min,1.046207e+18,0.000000,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000
25%,1.050184e+18,0.000000,0.000000,1.070000e+02,160.000000,1.663250e+03,0.000000
50%,1.054643e+18,0.000000,0.000000,5.390000e+02,528.000000,8.007000e+03,0.000000
75%,1.071177e+18,1.000000,0.000000,2.844000e+03,1756.000000,3.317500e+04,0.000000
max,1.097647e+18,70385.000000,17484.000000,5.457643e+07,899383.000000,9.565126e+06,1.000000

In [11]:
df.isnull().sum()

status_id               0
text                 3536
created_at              0
favorite_count          0
retweet_count           0
location           190780
followers_count         0
friends_count           0
statuses_count          0
category                0
dtype: int64

In [12]:
df['text']. fillna ('', inplace=True)
df['text']

0         Entitled, obnoxious, defensive, lying weasel. ...
1         Thank you  and  for what you did for the women...
2         Knitting (s) &amp; getting ready for January 1...
3         Yep just like triffeling women weaponized thei...
4         No, the President wants to end  movement posin...
                                ...
807169    Let’s not forget that this “iconic kiss” was u...
807170    DEFINITELY....the only one any of us should su...
807171    Did the  movement count the dollars of Erin An...
807172    This is one of my all time fav songs &amp; vid...
807173     I watched your news on the death of the sailo...
Name: text, Length: 807174, dtype: object

In [13]:
df['location']. fillna ('', inplace=True)
df['location']

0                 McAllen, TX
1                   Tampa, FL
2                St Cloud, MN
3             flyover country
4                       World
                 ...
807169          South Florida
807170
807171                 Philly
807172    Berlin, Deutschland
807173     Massachusetts, USA
Name: location, Length: 807174, dtype: object

In [14]:
df = df. drop (['status_id', 'created_at'], axis =1)
df. head ()

,text,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
0,"Entitled, obnoxious, defensive, lying weasel. ...",5,1,"McAllen, TX",2253,2303,23856,0
1,Thank you and for what you did for the women...,5,2,"Tampa, FL",2559,4989,19889,0
2,Knitting (s) &amp; getting ready for January 1...,0,0,"St Cloud, MN",16,300,9,0
3,Yep just like triffeling women weaponized thei...,1,0,flyover country,3573,3732,38361,1
4,"No, the President wants to end movement posin...",0,0,World,294,312,7635,0

In [15]:
x = df. iloc [: , :-1]
x

,text,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count
0,"Entitled, obnoxious, defensive, lying weasel. ...",5,1,"McAllen, TX",2253,2303,23856
1,Thank you and for what you did for the women...,5,2,"Tampa, FL",2559,4989,19889
2,Knitting (s) &amp; getting ready for January 1...,0,0,"St Cloud, MN",16,300,9
3,Yep just like triffeling women weaponized thei...,1,0,flyover country,3573,3732,38361
4,"No, the President wants to end movement posin...",0,0,World,294,312,7635
...,...,...,...,...,...,...,...
807169,Let’s not forget that this “iconic kiss” was u...,2,0,South Florida,206,412,1247
807170,DEFINITELY....the only one any of us should su...,3,0,,63,6,137
807171,Did the movement count the dollars of Erin An...,0,0,Philly,2721,3509,66966
807172,This is one of my all time fav songs &amp; vid...,1,1,"Berlin, Deutschland",2683,1011,15455
807173,I watched your news on the death of the sailo...,1,0,"Massachusetts, USA",237,741,789

In [16]:
y = df. iloc [: , -1]
y

0         0
1         0
2         0
3         1
4         0
         ..
807169    0
807170    0
807171    0
807172    1
807173    0
Name: category, Length: 807174, dtype: int64

In [17]:
from sklearn. model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split (x, y, random_state=0)

from sklearn. feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer ()
x_train_text = vectorizer.fit_transform(x_train['text'])
x_train_text

<605380x119250 sparse matrix of type '<class 'numpy.int64'>'
	with 10994435 stored elements in Compressed Sparse Row format>

In [18]:
x_test_text = vectorizer. transform(x_test['text'])
x_test_text

<201794x119250 sparse matrix of type '<class 'numpy.int64'>'
	with 3641705 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn. naive_bayes import MultinomialNB
model = MultinomialNB ()

In [20]:
model.fit(x_train_text,y_train)

MultinomialNB()

In [21]:
y_pred = model. predict(x_test_text)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [22]:
from sklearn. metrics import accuracy_score, classification_report
accuracy = accuracy_score (y_test, y_pred) * 100
print ("Accuracy of the model is {:.2f}". format(accuracy))

Accuracy of the model is 93.11

In [23]:
from sklearn. metrics import classification_report
class_report = classification_report (y_test, y_pred)
print (f"\nClassification Report:\n{class_report}")

Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96    178149
           1       0.70      0.71      0.71     23645

    accuracy                           0.93    201794
   macro avg       0.83      0.84      0.83    201794
weighted avg       0.93      0.93      0.93    201794